LINE
 {display:block;
 font-size:24pt;
 font-style:bold}
TITLE 
 {display:block;
 font-size:36pt;
 margin-left:14pt;
 font-weight:bold;
 font-style:italic}
SUBTITLE 
 {display:block;
 font-size:15pt;
margin-left:14pt;
 font-weight:bold;
 font-style:italic}
MENUPOSITION
 {display:block;
 margin-top:12pt;
 font-size:10pt}
DISH
 {display:block;
 font-size:12pt;
 margin-left:15pt;
 font-weight:bold;
 font-style:italic}
SERVING
 {display:block;
 margin-left:18pt;
 font-weight:bold}
WEIGHT
 {display:block;
 margin-left:24pt}
PRICE
 {display:block;
 margin-left:24pt}